/mac-app/xcuserdata/
/mac-app//*.app
/mac-app//*.xcarchive
/mac-app//*.zip
/mac-app/build
/mac-app/DerivedData
/mac-app/libfuzzylib.dylib
/mac-app/libfuzzylib.a
/fuzzylib/target
/fuzzylib/Cargo.lock
.DS_Store
/mac-app/.DS_Store
